<ion-modal-view>
    <ion-content class="padding" style="text-align:center; text-align: center;box-shadow: 0 0 5px rgb(28, 222, 62);margin: 5px 2px 3px 2px;border: 8px solid rgb(28, 222, 62);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="color:rgb(28, 222, 62);">BOLETO VALIDO!</h2>
        <br><br>
        <button class="button button-full button-balanced" ng-click="modal.hide()">Aceptar</button>
        </div>
    </ion-content>
</ion-modal-view>